.unbulleted-list {
  list-style-type: none;
}

.clickable-span span {
     cursor:pointer;
     color:blue;
     text-decoration:underline;
}

.clickable-span span:hover {
     text-decoration:none;
     text-shadow: 1px 1px 1px #555;
}

.buton-footer-right {
    float: right;
}