<div>
    <nav class="navbar navbar-dark">
        <ul class="nav navbar-nav">
            <li class="navbar-item active"><a class="navbar-link active" [routerLink]="['/']">Home</a></li>
            <li class="navbar-item"><a class="navbar-link" [routerLink]="['/cart']">Cart</a></li>
            <li class="navbar-item"><a class="navbar-link" [routerLink]="['/products']">Products</a></li>
            <li class="navbar-item"><a class="navbar-link" [routerLink]="['/orders']">Orders</a></li>
        </ul>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>

</div>

